
.header{
    display: flex;

    font-weight: bold;
    font-size: 35px;
   
    margin-top: 3%;

}
.forma{
display: flex;

align-items: center;
flex-direction: column;

}
form{
    display: flex;
    flex-direction: column;
    border-top: 10px solid #247FCA;
    border-bottom:2px solid black ;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 3%;

}
form button{
    margin-top: 2%;
    font-weight: bold;

}
