
<div class="header"> Enregister les informations de prélèvement d'échantillons:</div>
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="Nom">
    <label for="Nom" >Nom du produit:</label>
    <input placeholder="tomates" type="text" ngModel  name="Nom" required> </div>
    <div class="Nom"><label for="Categorie">Catégorie du produit:</label>
    <input placeholder="ex:légume" type="text" ngModel name="Catégorie" required > </div>
   <div class="Nom"> <label  for="Numéro">Numéro du procès verbal:</label>
    <input placeholder="ex:2304" type="text" ngModel name="numéro" required></div>
   <div class="Nom"> <label for="date">Date du proces verbal</label>
    <input type="date" ngModel name="date1" required></div>
   <div class="Nom"> <label for="Typeprel">Type du prélevement:</label>
    <select id="cars" >
        <option let type of types>SMSKMSKM</option>
      </select></div>
     <div class="Nom"> <label for="Niveauprel">Niveau du prélvement:</label>
      <select>
          <option let niv of niveaux></option>
        </select></div>
       <div class="Nom"> <label for="Cadrecon">Cadre du controle:</label>
        <select  >
            <option let cadre of cadres></option>
          </select></div>
       <div class="Nom">   <label for="Cadrecon">Labo de destination:</label>
        <select  >
            <option let labo of labos></option>
          </select></div>
           <div class="Nom"> <label for="date">Date d'envoi d'echantillon</label>
            <input type="date" ngModel name="Date2" required ></div>
            <button type="submit" [disabled]="!f.valid" class="btn btn-success">Soumettre</button>

</form>