<div class="header"> Enregister les résultats de prélèvement d'échantillons:</div>
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="Nom">
   <div class="Nom3"> <label for="Nom" >Numéro BA:</label>
    <input placeholder="ex:2334" type="text" ngModel  name="Nom" required> </div>
    <div class="Nom3"><label for="date">Date dde BA:</label>
      <input type="date" ngModel name="date1" required> </div>
        <div class="Nom3">  <label for="Typeprel">Conformité:</label> 
        <select [(ngModel)]="selected"  name="choice">
            <option >Oui</option>
            <option >Non</option>
          </select></div></div>
     <div   *ngIf="selected==='Non'" >
      <div class="liner"></div>
      <div class="header2">Détail de non conformité</div>
      <div class="form2">  <div class="Nom2"> <label for="Nom" >Numéro TA:</label>
  
        <input placeholder="ex:2334" type="text" ngModel  name="Nom" required></div>
   <div class="Nom2"><label for="Nom" >Date TA:</label> 
    <input  type="Date" ngModel  name="Nom" required></div>
   <div class="Nom2"> <label for="Nom" >Date TA:</label>
    <input  type="Date" ngModel  name="Nom" required></div>
   <div class="Nom2"> <label for="Nom" >Détail:</label>
    <input  type="text" ngModel  name="Nom" required>
      </div></div>

 
 
 
  </div>
  <button type="submit" [disabled]="!f.valid" class="btn btn-success">Soumettre</button>
  </form>
      